form {
  text-align: center;
  font-size: 18px;
}

form div {
  margin: 20px;
}

form label {
  font-size: 20px;
}
form input {
  font-size: 20px;
  margin-left: 20px;
  width: 300px;
  border-radius: 15px;
  padding: 8px;
}

.LinkBox {
  background-color: #00f2d0;
  padding: 10px;
  margin: 20px 30px;
  border-radius: 15px;
}

.LinkBox a {
  color: #1a1c1d;
}

form button {
  padding: 10px;
  width: 150px;
  font-size: 18px;
  border-radius: 15px;
}
